@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>St. Nicholas Hospital</h1>
    <p class="lead">St. Nicholas Hospital is a world class health care facility that is highly equipped with digital and technological medical equipments</p>
    <p>...at St. Nicholas, we care alot about your health and wellbeing</p>
</div>
